<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school_website</title>
<style>
    .nav-list{
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: space-around;
        margin: 1rem;
        padding: 1rem;

    }
    
    
</style>

</head>
<body>
    <header>					
        <nav id="nav">
            <ul class="nav-list">
                <li class="n1">
                  <a href="#">Home</a>
                </li>
                <li class="n3">
                  <a href="#/">About</a>
                </li>
                <li class="n5">
                  <a href="#">privacy</a>
                </li>
                
            </ul>
          </nav>
	</header>
</body>
</html>